/*Page Animations

  Inspiration for page animations taken from a demo in using
  ngAnimate to animate ngView in Angular apps:

  https://scotch.io/tutorials/animating-angularjs-apps-ngview

  */

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

.page {
    position: absolute;
    width: 100%;
    margin-bottom: 100px;
}

/* page ------------------------ */
.page.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	  -moz-animation:slideOutLeft 0.5s both ease-in;
	  animation:slideOutLeft 0.5s both ease-in;
    z-index:9999;
}
.page.ng-enter 		{
    -webkit-animation:slideInRight 0.5s both ease-in;
	  -moz-animation:slideInRight 0.5s both ease-in;
	   animation:slideInRight 0.5s both ease-in;
     z-index:8888;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.body {
  background-color: linear-gradient(to left, transparent 0%,#fff 50%,transparent 100%);
  background: -webkit-linear-gradient(-60deg, rgba(204, 178, 213, 0.9), rgba(189, 104, 170, 0.7), rgba(240, 166, 178, 1) 70%);

}

html, body {
  padding: 0;
  margin: -2px 0 0 0;
}

/* unvisited link */
a:link {
    color: #303030;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #303030;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #303030;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #303030;
    text-decoration: none;
}

.wrap {
  background-color: linear-gradient(to left, transparent 0%,#fff 50%,transparent 100%);
  background: -webkit-linear-gradient(-60deg, rgba(204, 178, 213, 0.9), rgba(189, 104, 170, 0.7), rgba(240, 166, 178, 1) 70%);
  height: 100vh;
  width: 100vw;
  margin-top: -90px;
  color: #303030;
  padding-top: 90px;
	animation: fadein 1s;
}


/*IMAGE STYLING*/

img {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-orientation: from-image;
		animation: fadein 2s;
}

video {
		animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.height {
    height: 100%;
    width: initial;
}

.heightextra {
    height: 115%;
    width: initial;
}



/*TOOLTIP STYLING*/

.tooltip-wrap {
    width: 90px;
    margin: 0 110px;
    height: 33px;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: 30px;
    margin-top: 20px;
    float: left;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0 5px;
    background-color: #dab;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 5px;
    font-size: 14px;
    font-family: Muli;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dab transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 60px;
    top: 100%;
    left: 50%;
    margin-left: -35px; /* Use half of the width (120/2 = 60), to center the tooltip */
}











/*HOME PAGE STYLING*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 13px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-8px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}


.gradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
  background: linear-gradient(to left, transparent 0%,#fff 50%,transparent 100%);      /* W3C */
}

.bar-cont {
    width: 30px;
}

.bar {
    width: 30px;
    height: 4px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
		background-color: white;
    margin-bottom: 4px;
    border-radius: 1px;
}

.small-cont {
    width: 20px;
}

.small {
    width: 20px;
    height: 2px;
    background-color: #303030;
    margin-bottom: 2px;
}

.logo-wrapper{
    width: 100%;
    height: 80px;
    margin: 0 0 50px 0;
}

.logo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.terminal{
    width: 310px;
    height: 480px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    color: #303030;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: float 4s ease-in-out infinite;
    cursor: pointer;
}

.terminal-header{
    width: 100%;
    height: 40px;
    background-color: #F2F1F3;
    border-radius: 5px 5px 0 0;
}

.terminal-text{
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
}

em{
    font-family: Muli;
    font-weight: 600;
}

.terminal-title{
    font-family: Puritan;
    font-size: 26px;
		margin: 5px 0;
}

.terminal-main{
    font-family: Muli;
    font-size: 18px;
		margin-top: 5px;
    margin-bottom: 25px;
}

.terminal-sub{
    font-family: Muli;
    font-size: 14px;
}

.circle-wrap{
    margin-left: 20px;
    height: 40px;
    width: 90px;
}

.circle{
    width: 15px;
    height: 15px;
    margin: 12.5px 5px 12.5px 5px;
    border-radius: 30px;
    background: pink;
    float: left;
}

.circle:hover {
    transform: scale(1.2);
}

.lavender{
    /*background-color: #dab;*/
		background-color: #dab;
}

.magenta{
    background-color: #D06C96;
}

.pink{
    background-color: #EFA6B2;
}

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 14px 12px 10px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 30px;
    color: #303030;
		border-radius: 4px;
}

.dropdown:hover .dropbtn{
		/*background-color: rgba(255, 255, 255, 0.8);*/
		/*background-color: #F2F1F3;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5vw;
    width: 128px;
    font-family: Muli;
    font-size: 14px;
    margin-top: 5vh;
    z-index: 2;
}

.point {
		width: 0;
		height: 0;
		margin-left: 17px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 12px solid rgba(255, 255, 255, 0.8);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
		margin-top: 5px;
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    transition: .3s;
		color: #dab;
}

/* Links inside the dropdown */
.dropdown-content a {
		font-family: Karla;
		text-transform: uppercase;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
		background-color: #F2F1F3;
		color: lightgray;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
		background-color: white;
		color: #dab;
    transition: .3s;
  }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .bar {
    transition: .3s;
		background-color: #F2F1F3;
}

.act {
		background-color: #F2F1F3;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes boop {
    0% {
        transform:translateX(0px);
    }
    50% {
        transform:translateX(-5px);
    }
    100% {
        transform:translateX(0px);
    }
}

.close {
    width: 35px;
    height: 35px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-family: Nunito;
    line-height: 27.5px;
    text-align: center;
    font-size: 25px;
    color: white;
    z-index: 2;
}

.close-icon {
		margin: 5px 0 0 .5px;
}

.back-wrap {
    width: 100%;
    height: 44px;
}

.back {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    font-family: Nunito;
    line-height: 40px;
    text-align: center;
    font-size: 38px;
    color: white;
    z-index: 2;
    float: left;
    right: 13vw;
    top: 80px;
}


.nav-wrap {
    position: relative;
}

.nav {
  padding: 5px;
  float: left;
}

.close:hover {
    animation: spin .8s;
}

.back:hover {
    animation: boop .5s;
}









/*SECTION PAGE STYLING*/

.container{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  font-family: Muli;
  font-size: 16px;
  color: #303030;
  margin-top: 120px;
  padding-bottom: 120px;
	position: relative;
	/*animation: fadein 1s;*/
}

@media (max-width: 1000px) {
    .container {
        width: 80vw;
    }

    .preview{
        width: 45%;
        margin-left: 5%;
    }

    .half-image {
      margin: 2vh 2vw;
      width: 46vw;
      height: 200px;
    }
}

.section-title{
    width: 100%;
    font-family: Karla;
    font-size: 24px;
    margin: 15px 0;
		text-transform: uppercase;
}

.section-subtitle{
    font-family: Muli;
    margin: 15px 0;
    font-weight: 100;
		margin-bottom: 100px;
		max-width: 700px;
		line-height: 24px;
}

.section-subtitle a {
		color: #dab;
		border-bottom: 2px solid transparent;
}

.content-text a {
		color: #dab;
}

.section-subtitle a:hover {
		border-bottom: 2px solid #dab;
		transition: border-bottom .3s;
		font-weight: bold;
}

.content-text a:hover {
		border-bottom: 2px solid #dab;
		transition: border-bottom .3s;
		font-weight: bold;
}

.back-button {
		width: 100%;
		color: #E8E8E8;
		text-align: center;
		font-size: 26px;
		margin: 0 0 150px 0;
		line-height: 36px;
		text-transform: uppercase;
		font-family: Karla;
		margin-bottom: 150px;
}

.eighteen {
		font-size: 18px;
}

.buffer {
		margin-top: 50px;
}

.back-hover:hover {
		color: #dab;
}

.sub {
		margin-bottom: 50px;
}

.home {
		background: #dab;
		border-radius: 4px;
		width: 30px;
		right: 12px;
		margin-top: 15px;
		position: absolute;
}

.home:hover {
		background: #F2F1F3;
		cursor: pointer;
		transition: 0.3s;
}

.home:hover ~ .bar_alt {
		background: #dab;
}

.mat {
		color: white;
		padding: 3.5px;
}

.preview{
    width: 50%;
    height: 330px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    background: white;
    position: relative;
    text-transform: uppercase;
}

.bottom {
    margin-bottom: 150px;
}

.preview-layover{
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 300px;
    z-index: 1;
    background-color: rgba(221, 170, 187, 0.8);
    opacity: 0;
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    font-family: Karla;
    font-size: 24px;
    font-weight: 800;
		word-wrap: break-word;
}

.preview:hover .preview-layover{
    opacity: 1;
    transition: 0.5s;
}

.left {
    margin-left: 0px;
}

.right{
    margin-right: 0px;
}

.bar-cont_alt {
    width: 30px;
}

.bar_alt {
    width: 30px;
    height: 4px;
		background-color: #dab;
    margin-bottom: 4px;
    border-radius: 1px;
}

/* Style The Dropdown Button */
.dropbtn_alt {
    color: white;
    font-size: 14px;
		padding: 0 12px;
    border: none;
    cursor: pointer;
    width: 30px;
    color: #303030;
		border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_alt {
    position: absolute;
    right: 0;
    z-index: 2;
}

.point_alt {
		width: 0;
		height: 0;
		margin-left: 127px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 12px solid #F2F1F3;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_alt {
		margin-top: 5px;
    display: none;
    position: absolute;
		right: 0;
		text-align: right;
    width: 160px;
    z-index: 1;
    transition: .3s;
		color: #dab;
}

/* Links inside the dropdown */
.dropdown-content_alt a {
		font-family: Karla;
		text-transform: uppercase;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
		background-color: #F2F1F3;
		color: lightgray;
}

/* Change color of dropdown links on hover */
.dropdown-content_alt a:hover {
		background-color: #F5F5F5;
		color: #dab;
    transition: .3s;
  }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn_alt:hover .bar_alt {
    transition: .3s;
		background-color: #F2F1F3;
}

.act_alt {
		background-color: #F2F1F3;
}

.hide {
		display: none;
}













/*ABOUT PAGE STYLING*/

.about-elem {
    width: 420px;
    height: 400px;
    float: left;
    margin: 30px;
}

.about-photo {
    position: relative;
    height: 200px;
}

.me-wrap {
    width: 350px;
    height: 450px;
    margin: 45px 35px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-radius: 2px;
}

.about-text {
    text-align: right;
    padding: 60px 0;
    width: 300px;

}

.linker-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.clearfix{
    clear:both
}

.linker {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 40px;
    float: left;
    display: inline;
    cursor: pointer;
}

.linker:hover {
    /*transform: scale(1.1);*/
    animation: spin 0.5s;

}

@keyframes twist {
    10% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hov:hover {
		color:#dab;
		cursor: pointer;
}

.line {
		height: 1px;
		max-width: 400px;
		background: #E8E8E8;
}

.resume-top {
		font-family: Domine;
		font-style: italic;
		color: #E8E8E8;
		padding: 5px 0;
}

.resume-section {
		font-size: 22px;
		font-family: Domine;
		padding: 40px 0 0 0;
}

.resume-sub-section {
		font-size: 18px;
		font-weight: 800;
		padding: 15px 0 5px 0;
		color: #dab;
}

.resume-title {
		text-transform: uppercase;
		font-size: 18px;
		font-family: Karla;
		padding: 5px 0 0 0;
}

.resume-content {
		padding: 5px 0;
		max-width: 700px;
		line-height: 24px;
}

.uc {
		color: inherit;
}







/*CONTENT PAGE STYLING*/


.image-wrap {
    width: 100%;
}

.full-image {
    width: 100%;
    height: 600px;
    margin: 15px 0;
    float: left;
    position: relative;
    overflow: hidden;

}

.half-image {
    width: 50%;
    height: 350px;
    float: left;
    position: relative;
    margin: 15px 0;
    overflow: hidden;
}

.third-image {
    width:33.3%;
    height: 250px;
    float: left;
    position: relative;
    margin: 15px 0;
    overflow: hidden;
}

.quarter-image {
    width:25%;
    height: 330px;
    float: left;
    position: relative;
    margin: 15px 0;
    overflow: hidden;
    background: gray;
}

.long-image {
    width: 100%;
    height: 140px;
    float: left;
    position: relative;
    margin: 15px 0;
    overflow: hidden;
}

.content-text {
    width: 100%;
    margin: 40px 0;
    float: left;
		line-height: 24px;
}


@media (max-width: 1000px) {
  .half-image {
      margin: 1vh 1vw;
      width: 37vw;
      height: 300px;
  }
  .third-image {
      margin: 1vw 1vh;
      width: 24vw;
      height: 150px;
  }
  .full-image {
      width: 100%;
  }
}
