// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

p {
  font-size: 14px;
  line-height: 20px;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
  /*max-width: 100%;
  overflow-x: hidden;*/
  color: #303030;
  font-size: 14px;
  font-family: Muli;
  font-weight: 400;
  margin-left: 0px;
  background-color: white;
}

a:link {
  color: #303030;
}

a:visited {
  color: #303030;
}

a:hover {
  color: #303030;
}

a:active {
  color: #303030;
}

.current {
  color: #939393;
}

#wrap {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}

.hider {
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  opacity: 0;
  position: fixed;
  z-index: 999;
  visibility: hidden;
  margin-left: -100vw;
  cursor: pointer;
}

.showhider {
  visibility: visible;
}

.menu {
  width: 30vw;
  min-width: 320px;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 5000;
  /*margin-left: -30vw;*/
  transition: .3s;
}

.menu-logo {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10%;
  left: 10%;
}

.section-wrap {
  margin-left: 10%;
  margin-top: 30%;
}

.section {
  display: inline-block;
}

.liner {
  width: 0px;
  height: 1px;
  background-color: #303030;
  transition: .3s;
  margin-top: -15px;
  margin-bottom: 15px;
}

.section:hover .liner {
  width: 100%;
  transition: .3s;
}

.section-title {
  font-size: 23px;
  margin-bottom: 1px;
  font-family: Puritan;
  font-weight: 800;
  display: inline-block;
}

.divider {
  width: 0px;
  height: 5px;
  background-color: #DCEBF7;
  transform: translateX(10%);
  margin-top: 8%;
}

.contact-wrap {
  width: 80%;
  transform: translateX(10%);
  height: 40px;
  margin-top: 8%;
}

.menu-contact-wrapper {
  width: 8%;
  padding-top: 8%;
  float: left;
  position: relative;
  margin-right: 15%;
}

#last {
  margin-right: 0px;
}

.last {
  margin-right: 0px;
}

.menu-contact {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px #303030 solid;
  z-index: 50;
  position: absolute;
  float: left;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-flip {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 500;
}

.menu-circle {
  width: 0px;
  height: 0px;
  background-color: #303030;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu-contact:hover {
  width: 100%;
  height: 100%;
  transition: .3s;
}

.menu-contact:hover .menu-circle {
  width: 100%;
  height: 100%;
  transition: .3s;
  border: 2px #303030 solid;
}

.menu-contact:hover .menu-flip {
  display: block;
  z-index: 2000;
}

.menu-hide {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-contact:hover .menu-hide {
  display: none;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: white;
  position:fixed;
  margin-top: 0px;
  z-index: 500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.nav-copy {
  width: 100%;
  height: 100px;
  position:fixed;
  margin-top: 0px;
  z-index: 500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DCEBF7;
  opacity: 0;
}

.nav-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  opacity: 1;
}

.nav-logo:hover {
  animation: spin 3s;
}

.nav-logo-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-logo-left {
  margin-left: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.under {
  z-index: 500;
  position: fixed;
  height: 100px;
  line-height: 100px;
  top: 0px;
}

.under-line {
  height: 1px;
  width: 0px;
  background-color: #303030;
  position: absolute;
  transition: .3s;
  margin-top: -42px;
}

.under:hover .under-line {
  width: 100%;
  transition: .3s;
}

#nav-menu {
  margin-left: 5vw;
  text-align: left;
  cursor: pointer;
}

#nav-about {
  right: 5vw;
  text-align: right;
}

.nav-design {
  text-align: right;
  right: 19vw;
}

.nav-code {
  text-align: right;
  right: 14vw;
}

.nav-art {
  text-align: right;
  right: 10vw;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -1px;
  background: #000;
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}




 .home_button {
   width: 100px;
   height: 100px;
   background-image: url("logo.png");
   background-color: transparent;
   border-style: none;
 }

 #menu-text {
   margin-left: 0px;
   position: relative;
 }

 #about-text {
   margin-right: 0px;
   position: relative;
 }

 .navbar {
   width: 100%;
   height: 100px;
   margin: 0 auto;
   margin-top: 0px;
 }

 .work-box {
   width: 280px;
   float: left;
   height: 300px;
   position: relative;
   background-color: blue;
 }

 .work-img {
   width: 280px;
   height: 280px;

 }

 img {
   /*position: absolute;*/
   height: 100%;
   width: auto;
   /*top: -9999px;
   bottom: -9999px;
   left: -9999px;
   right: -9999px;
   margin: auto;*/
 }

 .hor {
   width: 100%;
   height: auto;
 }

 .ver {
   height: 100%;
   width: auto;
 }

 .work-title {
   height: 20px;
   width: 280px;
   text-align: center;
   line-height: 20px;
 }

.wrapper {
  width: 100vw;
  margin-left: 0px;
  overflow: hidden;
}

.work-cover {
  width: 280px;
  height: 300px;
  position: absolute;
  background-color: white;
  z-index: 100;
}

.work-type {
  width: 280px;
  height: 448px;
  float: left;
  background-color: green;
  display: block;
  text-align: center;
  line-height: 360px;
  font-family: Alegreya Sans;
  position: relative;
  overflow: hidden;
}

.work-type:hover .work-cover{
  height: 0px;
  transition: height 0.4s;
}

.work-wrapper {
  width: 280px;
  height: 448px;
}

.work-cover {
  width: 280px;
  height: 400px;
  background-color: white;
}

.work-title {
  width: 280px;
  height: 48px;
  background-color: white;
  z-index: 100;
}

img {
  position: absolute;
  height: 100%;
  // margin-left: -113px;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#left {
  margin-left: 0px;
  margin-right: 15px;
}

#middle {
  margin-left: 15px;
  margin-right: 15px;
}

#right {
  margin-left: 15px;

}

.big_button {
  position: absolute;
  width: 280px;
  height: 448px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
  float: left;
  text-align: center;
  font-family: Alegreya Sans;
  margin-left: -140px;
  color: #454545;
  text-transform: uppercase;
  font-size: 16px;
}

.big_button:focus {
  outline: none;
}

.big_button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.h-wrap{
  width: 130px;
  height: 45px;
  position: relative;
  margin-top: 50px;

}

.h-box{
  width: 130px;
  height: 45px;
  background-color: white;
  border: solid #D3ECE8;
  border-width: 3px;
  position: absolute;
  line-height: 45px;
  font-weight: 800;
  text-align: center;
}

.h-text {
  z-index: 5;
}

.h-back {
  z-index: 4;
  margin-top: 5px;
  margin-left: 5px;
}

.h-text:hover {
  margin-top: -1px;
  margin-left: -1px;
}

.h-box:hover ~ .h-back {
  background-color: #E6EDE9;
}

#hello {
  width: 800px;
  height: 400px;
}

.color-box {
  float: left;
  width: 500px;
  height: 400px;
  background-color: #D3ECE8;
  float: left;
  position: relative;
  transition: .5s;
}

.inner-color-box {
  width: 400px;
  height:320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  z-index: 5;
}

@keyframes bloop {
  0%   {width: 400px; height: 320px;}
  50%   {width: 405px; height: 324px;}
  100% {width: 400px; height: 320px;}
}

.color-box:hover .inner-color-box {
  animation: bloop .5s;
}

#laptop {
  height: 25px;
  width: auto;
  position: absolute;
  margin-left: 200px;
  margin-top: 80px;
  z-index: 1;
  transform: rotate(10deg);
}

#tea {
  height: 25px;
  width: auto;
  position: absolute;
  z-index: 1;
  transform: rotate(-20deg);
  margin-top: 200px;
  margin-left: 50px;
}

#pentool {
  height: 25px;
  width: auto;
  position: absolute;
  z-index: 1;
  margin-left: 80px;
  margin-top: 40px;
}

@keyframes penbloop {
  0%   {left: 0px;}
  0%   {top: 0px;}
  45%   {left: -10px;}
  45%   {top: -80px;}
  55%   {left: -10px;}
  55%   {top: -80px;}
  100% {left: 0px;}
  100% {top: 0px;}
  100% {transform: rotate(360deg);}
}

@keyframes teabloop {
  0%   {left: 0px;}
  0%   {top: 0px;}
  45%   {left: -60px;}
  45%   {top: -40px;}
  55%   {left: -60px;}
  55%   {top: -40px;}
  100% {left: 0px;}
  100% {top: 0px;}
  100% {transform: rotate(-360deg);}
}

@keyframes laptopbloop {
  0%   {left: 0px;}
  0%   {top: 0px;}
  45%   {left: 10px;}
  45%   {top: -90px;}
  55%   {left: 10px;}
  55%   {top: -90px;}
  100% {left: 0px;}
  100% {top: 0px;}
  100% {transform: rotate(360deg);}
}

.color-box:hover #laptop {
  animation: laptopbloop 2s;
}

.color-box:hover #pentool {
  animation: penbloop 2s;
}

.color-box:hover #tea {
  animation: teabloop 2s;
}

.text-box {
  height: 400px;
  width: 270px;
  margin-left: 30px;
  float: left;
}

h1 {
  font-family: Puritan;
  font-weight: 800;
  font-size: 40px;
}

#zag {
  width: 80px;
  height: 40px;
  position: absolute;
  margin-left: 900px;
  margin-top: -200px;
  display: none;
}

.pop {
  width: 10px;
  height: 10px;
  position: absolute;
  transition: .5s;
  display: none;
}

#one {
  margin-top: 200px;
  margin-left: 200px;
  z-index: 100;
}

@keyframes g-width {
  from {width: 380px;}
  to {width: 450px;}
}

@keyframes g-margin-left {
  from {margin-left: 750px;}
  to {margin-left: 680px;}
}

@keyframes g-margin-top {
  from {margin-top: 60px;}
  to {margin-top: 40px;}
}

@keyframes g-sub-display {
  from {display: none;}
  to {display: block;}
}

@keyframes g-sub-margin-left {
  from {margin-left: 280px;}
  to {margin-left: 280px;}
}

@keyframes sushi-margin-left {
  from {margin-left: 0px;}
  to {margin-left: -40px;}
}

#graphic:hover #one {
  margin-top: 80px;
  margin-left: 80px;
  transform: rotate(-30deg);
  animation-timing-function: ease-in;
  animation: float 8s infinite;
}

#graphic-wrapper {
  background-color: white;
}

#graphic {
  margin-left: 750px;
  margin-top: -10px;
  width: 380px;
  height: 380px;
  background-color: #FFEECB;
  position: relative;
  transition: .5s;
  display: inline-block;
}

#g-back {
  position: absolute;
  margin-top: 5px;
  margin-left: -5px;
  width: 345px;
  height: 345px;
  z-index: -1;
  background-color: white;
  border: solid #FFEECB;
  border-width: 3px;
}

#sushi-wrap {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#graphic-text {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: Puritan;
  font-weight: bold;
  background-color: #FFEECB;
  margin-top: 60px;
  margin-left: 180px;
  z-index: 2;
  transition: .5s;
}

#g-sub-text {
  position: absolute;
  width: 100px;
  color: white;
  font-size: 16px;
  margin-left: 210px;
  margin-top: 120px;
  text-align: right;
  display: none;
}

#chop {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 50;
  margin-left: 50px;
  margin-top: 120px;
  transform: rotate(-20deg);
}

#graphic:hover #chop {
  animation: up3 2s;
}

#graphic:hover #sushi-wrap {
  margin-left: -40px;
  transition: .5s;
}

#graphic:hover #g-sub-text {
  display: block;
  margin-left: 280px;
}

#graphic:hover #graphic-text{
  margin-top: 40px;
  margin-left: 250px;
  transition: .5s;
}

#graphic:hover #g-text-2 {
  margin-left: -40px;
  margin-top: 35px;
  transition: .5s;
}

#graphic:hover {
  width: 450px !important;
  margin-left: 680px !important;
}

.graphic-hover {
  width: 450px;
  margin-left: 680px;
  background-color: white;
}

#b-expand {
  border: solid #FFEECB;
  border-width: 3px;
  width: 100%;
  height: 100%;
}

#dev-wrapper {
  width: 560px;
  height: 600px;
  position: relative;
  margin-left: 60px;
  margin-top: -130px;
  transition: .3s;
}

#dev-img {
  width: 300px;
  height: 600px;
  background-color: white;
  position: absolute;
  transition: .5s;
}

#dev-text {
  width: 300px;
  height: 300px;
  background-color: #F4D1C4;//#F9D9D9;
  position: absolute;
  margin-left: 260px;
  margin-top: 140px;
  text-align: center;
  transition: .5s;
}

#code {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 50;
  margin-left: 450px;
  margin-top: 170px;
  transform: rotate(20deg);
}

#dev-wrapper:hover #code {
  animation: up2 2s;
}

#dev-wrapper:hover #dev-img{
  width: 320px;
  height: 640px;
  transition: .5s;
}

#dev-wrapper:hover #dev-text{
  width:290px;
  height:290px;
  transition: .5s;
}

#fine-wrapper {
  width: 500px;
  height: 400px;
  margin-left: 550px;
  margin-top: -200px;
  margin-bottom: 200px;
  position: relative;
  transition: .3s;
}

#fine-img {
  position: absolute;
  width: 150px;
  height: 300px;
  margin-left: 75px;
  margin-top: 50px;
  transition: .5s;
}

#fine-img-wrap {
  position: absolute;
  height: 400px;
  width: 300px;
  background-color: #9EC79B;
  margin-left: 200px;
}

#fine-text {
  width: 250px;
  height: 250px;
  background-color: #C6EFC2;
  z-index: 4;
  position: absolute;
  margin-top: 280px;
  margin-left: 50px;
  transition: .5s;
}

#fine-wrapper:hover #fine-img{
  width: 170px;
  height: 340px;
  transition: .5s;
  margin-left: 65px;
  margin-top: 30px;
}

#fine-wrapper:hover #fine-text {
  width: 270px;
  height: 270px;
  transition: .5s;
  margin-top: 220px;
}

#fine-wrapper:hover #pallet {
  animation: up 2s;
}

#pallet {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 260px;
  margin-left: 150px;
  z-index: 50;
  transition: .5s;
}

@keyframes up {
  0%   {top: 0px;}
  45%   {top: -150px;}
  55% {top: -150px;}
  100% {top: 0px;}
  100% {transform: rotate(360deg);}
}

@keyframes up2 {
  0%   {top: 0px;}
  45%   {top: -80px;}
  55% {top: -80px;}
  100% {top: 0px;}
  100% {transform: rotate(380deg);}
}

@keyframes up3 {
  0%   {top: 0px;}
  45%   {top: -100px;}
  55% {top: -100px;}
  100% {top: 0px;}
  100% {transform: rotate(340deg);}
}

@keyframes up4 {
  0%   {top: 0px;}
  45%   {top: -120px;}
  55% {top: -120px;}
  100% {top: 0px;}
  100% {transform: rotate(340deg);}
}

.fix {
  width: 340px;
  height: 100px;
  // background-color: #A7C9D7;
  position: fixed;
  z-index: 100;
  left: 50%;
  margin-left:-170px;
  margin-top: 450px;
  opacity: 1;
  display: none;
}

#fixed {
  float: left;
  padding: 20px;
}

#fixed-h {
  border: solid #A7C9D7;
}

#marketing-wrapper {
  width: 400px;
  height: 400px;
  background-color: #D3ECE8;
  position: relative;
  transition: .5s;
}

#marketing-img {
  position: absolute;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

#marketing-text {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: Puritan;
  font-weight: 800;
  margin-top: 50px;
  margin-left: 40px;
  // background-color: #D3ECE8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  transition: .5s;
}

#marketing-description {
  position: absolute;
  color: white;
  font-size: 16px;
  margin-top: 150px;
  margin-left: 60px;
  background-color: #D3ECE8;
  width: 80px;
  display: none;
  transition: .5s;
}

#bulb {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100;
  transform: rotate(-20deg);
  margin-left: 330px;
  margin-top: 50px;
  transition: .5s;
}

#marketing-wrapper:hover {
  width: 480px;
  transition: .5s;
  margin-left: 10px;
}

#marketing-wrapper:hover #marketing-img {
  margin-left: 50px;
  transition: .5s;
}

#marketing-wrapper:hover #marketing-text {
  margin-top: 15px;
  transition: .5s;
}

#marketing-wrapper:hover #marketing-description {
  margin-top: 100px;
  display: block;
  transition: .5s;
}

#marketing-wrapper:hover #bulb {
  margin-left: 410px;
  transition: .5s;
  animation: up4 3s;
}

#footer {
  height: 400px;
  background-color: #DCEBF7;
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}

#contacts {
  width: 400px;//356px;
  height: 90px;//80px;
  margin: 0 auto;
  margin-top: 0px;
}

.contact-wrapper {
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
}

.contact {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 2px #303030 solid;
  z-index: 50;
  position: absolute;
  float: left;
  background-color: white;//#303030;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip {
  width: 55px;
  height: 55px;
  display: none;
  z-index: 500;
}

.menu-flipabout {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 500;
}



.circle {
  width: 0px;
  height: 0px;
  background-color: #303030;//white;
  border-radius: 100%;
  // border: 2px #303030 solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.contact:hover {
  width: 60px;
  height: 60px;
  transition: .3s;
}

.contact:hover .circle {
  width: 60px;
  height: 60px;
  transition: .3s;
  border: 2px #303030 solid;
}

.contact:hover .flip {
  display: block;
  z-index: 2000;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

.hide {
  width: 55px;
  height: 55px;
  position: relative;
}

.contact:hover .hide {
  display: none
}






.contact-wrapabout {
  width: 100%;
  height: 20px;
  margin-top: 50px;
}

.menu-contact-wrapperabout {
  width: 5%;
  padding-top: 5%;
  float: left;
  position: relative;
  margin-right: 18%;
}

#lastabout {
  margin-right: 0px;
}

.menu-contactabout {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px #303030 solid;
  z-index: 50;
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-flipabout {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 500;
}

.menu-circleabout {
  width: 0px;
  height: 0px;
  background-color: #303030;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu-contactabout:hover {
  width: 100%;
  height: 100%;
  transition: .3s;
}

.menu-contactabout:hover .menu-circleabout {
  width: 100%;
  height: 100%;
  transition: .3s;
  border: 2px #303030 solid;
}

.menu-contactabout:hover .menu-flipabout {
  display: block;
  z-index: 2000;
}

.menu-hideabout {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-contactabout:hover .menu-hideabout {
  display: none;
}










#contactsabout {
  width: 100%;//356px;
  height: 90px;//80px;
  margin: 0 auto;
  margin-top: 0px;
}

.contactabout-wrapper {
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
}

.contactabout {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px #303030 solid;
  z-index: 50;
  position: absolute;
  float: left;
  background-color: white;//#303030;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flipabout {
  width: 30px;
  height: 30px;
  display: none;
  z-index: 500;
}

.circleabout {
  width: 0px;
  height: 0px;
  background-color: #303030;//white;
  border-radius: 100%;
  // border: 2px #303030 solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.contactabout:hover {
  width: 35px;
  height: 35px;
  transition: .3s;
}

.contactabout:hover .circle {
  width: 35px;
  height: 35px;
  transition: .3s;
  border: 2px #303030 solid;
}

.contactabout:hover .flip {
  display: block;
  z-index: 2000;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

.hide {
  width: 55px;
  height: 55px;
  position: relative;
}

.contactabout:hover .hide {
  display: none
}


.sectionpop {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2000;
  overflow-y: auto;
  left: 100vw;
  top: 0px;
}

.sectionwrap {
  top: 0px;
  height: auto;
}

.clickable {
  cursor: pointer;
}

.closer {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #DCEBF7;
  position: fixed;
  z-index: 1000000;
  right: 3vw;
  top: -60px;
  box-shadow: 0px 0px 8px #BEBEC6;
}

.x {
  height: 50%;
}

@keyframes spinner {
  100% {transform: rotate(360deg);}
}

.closer:hover {
  animation: spinner 1s;
}

.workstitle {
  margin-left: 10vw;
  margin-top: 100px;
}

.workswrap {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 4vw;
  height: auto;
}

.map {
  background-color: #EEEEEE;
}

#map {
  background-color: #EEEEEE;
  margin-right: 0px;
}

.work {
  width: 38vw;
  height: 27vw;
  margin-right: 4vw;
  margin-bottom: 4vw;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  // box-shadow: 0px 0px 4px #BEBEC6;
  min-width: 320px;
  outline-style: solid;
  outline-color: #DCEBF7;
  outline-width: 1px;
}

.workcover {
  width: 100%;
  height: 100%;
  line-height: 27vw;
  background-color: rgba(16, 16, 16, .4);
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 100000000;
  display: none;
  font-size: 18px;
}

.work:hover .workcover {
  display: block;
}

.workpop {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2000;
  overflow-y: auto;
  top: 100vh;
}

.workcontent {
  width: 80vw;
  margin-top: 50px;
  margin-left: 10vw;
  min-width: 320px;
}

.workcontent a:link{
  color: #ABC6D8;
  text-decoration: none;
}

.workcontent a:visited{
  color: #ABC6D8;
  text-decoration: none;
}

.workcontent a:hover{
  color: #ABC6D8;
  opacity: .5;
  text-decoration: none;
}

.workcontent a:active{
  color: #ABC6D8;
  text-decoration: none;
}

.intro {
  margin-top: 100px;
}

.caption {
  color: #939393;
  margin-left: 10vw;
  width: 80vw;
  min-width: 320px;
}

.goback {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DCEBF7;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  z-index: 1000;
}

.gobacktext {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  z-index: 1001;
}

.goback:hover .up {
  opacity: .6;
}

.goback:hover .gobacktext {
  opacity: .6;
}

.up {
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.introimage-wrapper {
  width: 100%;
  height: 35vw;
  margin-left: 0px;
  min-width: 320px;
}

.randimage-wrapper {
  width: 100%;
  height: 35vw;
  margin-left: 0px;
  min-width: 320px;
}

.longimage-wrapper {
  width: 100%;
  height: 20vw;
  margin-left: 0px;
  min-width: 320px;
}

.introimage {
  width: 80vw;
  height: 35vw;
  margin-top: 20px;
  margin-left: 10vw;
  position: relative;
  outline-style: solid;
  outline-color: #DCEBF7;
  outline-width: 1px;
  overflow: hidden;
}

.gray {
  background-color: #525352;
}

.randimage {
  width: 80vw;
  height: 35vw;
  margin-top: 20px;
  margin-left: 10vw;
  position: relative;
}

.longimage {
  width: 80vw;
  height: 20vw;
  margin-top: 20px;
  margin-left: 10vw;
  position: relative;
}

.noborder {
  outline-style: none;
  outline-color: none;
  outline-width: 0px;
}

.about-wrapper {
  width: 80vw;
  height: 35vw;
  margin-left: 10vw;
  margin-top: 5vw;
  min-width: 320px;
}

#aboutpop {
  overflow: hidden;
}

.about-wrapper a:link {
  color: #f85563;
  text-decoration: none;
}

.about-wrapper a:visited {
  color: #f85563;
  text-decoration: none;
}

.about-wrapper a:hover {
  color: #f85563;
  text-decoration: none;
  opacity: .7;
}

.about-wrapper a:active {
  color: #f85563;
  text-decoration: none;
}

.aboutdiv {
  float: left;
}

.aboutphoto {
  width: 35vw;
  height: 45vw;
  background-color: #f85563;
  min-width: 320px;
}

.inneraboutphoto {
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.aboutcontent {
  margin-left: 5vw;
  width: 40vw;
  height: 45vw;
  min-width: 320px;
}

.divide {
  height: 5px;
  background-color: #f85563;;
  width: 100px;
}

.cursive {
  color: #f85563;
  font-family: PT Serif;
  font-size: 18px;
  font-style: italic;
}

// ul {
//   padding-left: 0px;
// }

.tech {
  // color: #DCEBF7;
  color: #ABC6D8;
}
