@font-face {
  font-family: Abadi;
  src: url("./fonts/abadi.ttf"); }
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden; }

body {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #3B9BC2;
  background: #A8D9F1;
  font-family: Muli;
  overflow-x: hidden;
  font-weight: 400; }
  body a:link, body a:hover, body a:visited, body a:focus {
    color: #3B9BC2;
    text-decoration: none;
    outline: 0;
    background: transparent;
    -webkit-tap-highlight-color: #ccc; }
    body a:link:active, body a:hover:active, body a:visited:active, body a:focus:active {
      background: #80C8DF; }
  body #mlh-trust-badge {
    margin-top: -13px;
    display: block;
    max-width: 90px;
    min-width: 50px;
    padding: 0 0 0 24px;
    align-self: flex-start;
    width: 10%;
    z-index: 10000; }
    @media (max-width: 800px) {
      body #mlh-trust-badge {
        padding: 0 0 0 12px; } }
  body .header {
    width: 100%;
    height: 42px;
    position: fixed;
    padding: 12px 0;
    background: #A8D9F1;
    z-index: 10;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out; }
    body .header.lift {
      background: #A4D6EF;
      border-bottom: 1px solid rgba(59, 155, 194, 0.2);
      box-shadow: 0 2px 16px 0px rgba(59, 155, 194, 0.1); }
    body .header .header-container {
      position: relative;
      max-width: 1000px;
      width: 1000px;
      height: 42px;
      display: flex;
      align-items: center;
      padding: 0 20px; }
    body .header .home {
      height: 40px;
      width: auto;
      position: absolute;
      left: 20px; }
      body .header .home img {
        float: left;
        height: 100%;
        width: auto; }
        @media (max-width: 800px) {
          body .header .home img#text {
            display: none; } }
    body .header .nav {
      position: absolute;
      right: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      body .header .nav .nav-item {
        font-size: 16px;
        font-weight: 800;
        color: #3B9BC2;
        line-height: 32px;
        padding: 0 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s ease-in-out; }
        body .header .nav .nav-item:hover {
          background: #80C8DF;
          color: #218BB6; }
        body .header .nav .nav-item:active {
          background: #80C8DF;
          color: #218BB6; }
        @media (max-width: 800px) {
          body .header .nav .nav-item {
            display: none; }
            body .header .nav .nav-item.apply {
              display: block; } }
        body .header .nav .nav-item.apply {
          font-size: 16px;
          line-height: 36px;
          background: #3B9BC2;
          color: #A8D9F1;
          border-radius: 4px;
          padding: 0 30px;
          margin: 0 0 0 15px; }
          body .header .nav .nav-item.apply:hover {
            background: #218BB6;
            color: #97D0ED; }
      body .header .nav .icon {
        font-size: 28px;
        display: none; }
        @media (max-width: 800px) {
          body .header .nav .icon {
            display: block; } }
      body .header .nav .stretch {
        height: 38px;
        line-height: 38px; }
  body .mobile-nav {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #A8D9F1;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0; }
    body .mobile-nav.show {
      display: block; }
    body .mobile-nav .mobile-icon {
      font-size: 28px;
      padding: 12px 20px;
      position: absolute;
      right: 0; }
    body .mobile-nav .mobile-nav-item {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #3B9BC2;
      width: 100vw;
      padding: 20px 0;
      text-align: center; }
      body .mobile-nav .mobile-nav-item:hover {
        font-weight: 800; }
  body .container {
    width: 1000px;
    margin: 60px 0;
    position: relative; }
    @media (max-width: 1000px) {
      body .container {
        width: calc(100% - 40px); } }
    body .container .section {
      padding: 66px 0;
      position: relative;
      height: auto;
      display: table;
      width: calc(100% - 66px); }
      body .container .section.hidden {
        display: none; }
      body .container .section .conduct {
        display: inline-block;
        font-size: 16px;
        line-height: 40px;
        background: #3B9BC2;
        color: #A8D9F1;
        border-radius: 4px;
        padding: 0 30px;
        font-weight: 800;
        margin: 8px 180px;
        width: auto;
        cursor: pointer;
        transition: background 0.2s ease-in-out; }
        body .container .section .conduct:hover {
          background: #218BB6;
          color: #97D0ED; }
        @media (max-width: 920px) {
          body .container .section .conduct {
            margin: 8px 20px; } }
        @media (max-width: 500px) {
          body .container .section .conduct {
            margin: 8px 0; } }
      @media (max-width: 820px) {
        body .container .section {
          padding: 10px;
          width: calc(100% - 40px); }
          body .container .section#home {
            padding: 40px 0; } }
    body .container .buffer {
      width: 100%;
      height: 130px;
      background: transparent;
      position: relative; }
      @media (max-width: 820px) {
        body .container .buffer {
          display: none; } }
      @media (max-width: 920px) and (min-width: 820px) {
        body .container .buffer.first {
          height: 0; } }
    body .container .small-buffer {
      width: 100%;
      height: 60px;
      background: transparent;
      position: relative; }
      @media (max-width: 820px) {
        body .container .small-buffer {
          display: none; } }
    body .container .large-buffer {
      width: 100%;
      height: 200px;
      background: transparent;
      position: relative; }
      @media (max-width: 920px) {
        body .container .large-buffer {
          display: none; } }
    body .container .title {
      position: relative;
      width: 400px;
      margin-left: 140px;
      float: left; }
      @media (max-width: 820px) {
        body .container .title {
          width: 340px; } }
      body .container .title .main {
        margin: 0; }
      body .container .title .sub {
        margin: 10px 0 0 40px;
        font-weight: 600;
        padding: 0; }
      body .container .title .apply {
        font-family: Nunito Sans;
        font-weight: 600;
        width: 275px;
        height: 48px;
        text-align: center;
        font-size: 24px;
        color: #A8D9F1;
        line-height: 46px;
        background: #3B9BC2;
        border-radius: 4px;
        margin: 20px 0 0 80px;
        cursor: pointer;
        transition: 0.2s ease-in-out; }
        body .container .title .apply:hover {
          background: #218BB6;
          color: #97D0ED; }
      @media (max-width: 920px) {
        body .container .title {
          margin-left: 40px; }
          body .container .title .sub {
            margin: 10px 0 0 0; }
          body .container .title .apply {
            margin: 20px 0 0 0; } }
      @media (max-width: 820px) {
        body .container .title {
          margin-top: 30px; } }
      @media (max-width: 500px) {
        body .container .title {
          margin-left: 0; }
          body .container .title h1 {
            font-size: 56px;
            line-height: 56px; }
          body .container .title .sub {
            margin: 5px 0 0 0;
            font-size: 20px; }
          body .container .title .apply {
            margin: 15px 0 0 0;
            font-size: 20px; } }
    body .container h1 {
      font-size: 60px;
      font-family: Nunito Sans;
      font-weight: 800;
      line-height: 60px; }
    body .container h2 {
      font-family: Muli;
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
      max-width: 400px;
      padding: 0 180px;
      transition: padding 0.5s ease-in-out; }
    body .container ul {
      font-family: Muli;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      max-width: 475px;
      padding: 0 180px;
      transition: padding 0.5s ease-in-out; }
    body .container p {
      font-family: Muli;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      max-width: 475px;
      padding: 0 180px;
      transition: padding 0.5s ease-in-out; }
    @media (max-width: 920px) {
      body .container h2 {
        padding: 0 20px; }
      body .container ul {
        padding: 0 20px; }
      body .container p {
        padding: 0 20px; } }
    @media (max-width: 820px) {
      body .container h2 {
        max-width: 90%; }
      body .container ul {
        max-width: 90%; }
      body .container p {
        max-width: 90%; } }
    @media (max-width: 500px) {
      body .container h2 {
        padding: 0;
        font-size: 20px; }
      body .container ul {
        padding: 0;
        font-size: 20px; }
      body .container p {
        padding: 0;
        font-size: 16px; } }
  body img {
    width: 100%;
    height: auto; }
  body .ddoski {
    float: right;
    width: 148px;
    height: auto;
    margin-right: 140px; }
    @media (max-width: 1000px) {
      body .ddoski {
        margin-right: 0;
        float: left; } }
    @media (max-width: 820px) {
      body .ddoski {
        margin: 30px 0 0 20px;
        float: left; } }
    @media (max-width: 500px) {
      body .ddoski {
        margin: 25px 0 0 0;
        width: 120px; } }
  body .node {
    height: auto;
    position: absolute; }
    @media (max-width: 820px) {
      body .node {
        display: none; } }
  body .node-1 {
    width: 175px;
    top: 295px;
    transition: transform 1s ease-in-out; }
    @media (max-width: 1050px) {
      body .node-1 {
        top: 350px;
        left: 30px; } }
    @media (max-width: 920px) {
      body .node-1 {
        display: none; } }
  body .node-2 {
    width: 100px;
    right: 300px;
    top: 180px; }
    @media (max-width: 1000px) {
      body .node-2 {
        display: none; } }
  body .node-3 {
    width: 103px;
    top: 270px;
    left: 130px; }
    @media (max-width: 1050px) {
      body .node-3 {
        left: 30px; } }
    @media (max-width: 920px) {
      body .node-3 {
        display: none; } }
  body .node-4 {
    width: 248px;
    top: 0;
    right: 40px; }
    @media (max-width: 1050px) {
      body .node-4 {
        right: 0; } }
  body .node-5 {
    width: 93px;
    top: -50px;
    left: 0; }
    @media (max-width: 920px) {
      body .node-5 {
        display: none; } }
  body .node-6 {
    width: 120px;
    top: 0;
    right: 80px; }
    @media (max-width: 920px) {
      body .node-6 {
        display: none; } }
  body .carousel {
    height: 260px;
    padding: 0 0 120px 0;
    overflow: visible;
    display: flex;
    position: relative;
    transform: translateX(-200px); }
    body .carousel.hidden {
      display: none; }
    @media (max-width: 1280px) {
      body .carousel {
        transform: translateX(0); } }
    @media (max-width: 820px) {
      body .carousel {
        padding: 20px 0 60px 0; } }
    body .carousel .overlay {
      position: absolute;
      width: calc(100vw);
      height: 260px;
      background: linear-gradient(to right, #A8D9F1 0%, transparent 20%, transparent 80%, #A8D9F1 100%);
      margin-left: 0; }
    body .carousel .tile-wrap {
      transform: translate(-50%); }
    body .carousel .tile {
      height: 260px;
      width: 230px;
      margin: 0 12px;
      border-radius: 8px;
      background: #EDF6FA;
      float: left; }
      body .carousel .tile .tile-photo {
        border-radius: 8px 8px 0 0;
        width: 230px;
        height: 190px;
        background: #80C8DF; }
      body .carousel .tile .name {
        font-size: 16px;
        padding: 12px 24px 2px 24px; }
      body .carousel .tile .about {
        font-size: 14px;
        padding: 0 24px; }
  body #sponsor, body #faq {
    background-image: url("./images/dust.png");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 66px; }
    @media (max-width: 920px) {
      body #sponsor, body #faq {
        background-size: 100% 100%;
        margin-top: 66px;
        background-color: #EDF6FA;
        border-radius: 8px;
        background-image: none; } }
    body #sponsor p, body #faq p {
      max-width: 600px; }
    @media (max-width: 500px) {
      body #sponsor, body #faq {
        border-radius: 0;
        width: calc(100% + 40px);
        margin-left: -20px; }
        body #sponsor h2, body #faq h2 {
          padding: 0 20px; }
        body #sponsor p, body #faq p {
          padding: 0 20px; } }
    body #sponsor .logo-grid, body #faq .logo-grid {
      margin: 0 auto;
      position: relative;
      width: calc(100% - 60px);
      max-width: 600px;
      height: 500px;
      transform: translate(-20px, 0); }
      @media (max-width: 500px) {
        body #sponsor .logo-grid, body #faq .logo-grid {
          width: calc(100% - 40px); } }
      body #sponsor .logo-grid .row, body #faq .logo-grid .row {
        position: relative; }
      body #sponsor .logo-grid .column, body #faq .logo-grid .column {
        width: calc(25% - 36px);
        max-width: calc(25% - 36px);
        padding: 12px 18px;
        float: left; }
        body #sponsor .logo-grid .column img, body #faq .logo-grid .column img {
          transition: opacity 0.3s ease-in-out;
          padding: 16px 8px;
          width: 100%;
          height: auto;
          opacity: 0.7; }
          body #sponsor .logo-grid .column img:hover, body #faq .logo-grid .column img:hover {
            opacity: 1; }
  body .faq-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 360px);
    max-width: 680px;
    padding: 0 180px; }
    @media (max-width: 920px) {
      body .faq-content {
        padding: 0 20px;
        width: calc(100% - 80px); } }
    @media (max-width: 500px) {
      body .faq-content {
        padding: 0 30px;
        width: calc(100% - 60px); } }
    body .faq-content .column {
      width: 50%; }
      body .faq-content .column.left {
        margin-right: 30px; }
      body .faq-content .column.right {
        margin-right: 0; }
      @media (max-width: 730px) {
        body .faq-content .column {
          width: 100%; }
          body .faq-content .column.left {
            margin-right: 0; } }
    body .faq-content .faq-item {
      width: 100%;
      font-size: 16px;
      line-height: 26px;
      padding: 20px 0; }
      @media (max-width: 500px) {
        body .faq-content .faq-item {
          font-size: 16px; } }
      body .faq-content .faq-item .question {
        font-weight: 600; }
      body .faq-content .faq-item .answer {
        font-weight: 400;
        padding: 6px 0; }
    @media (max-width: 650px) {
      body .faq-content {
        flex-direction: column; } }
  body .footer {
    margin-top: 60px;
    width: 100vw;
    height: 42px;
    padding: 12px 0;
    background: #A8D9F1;
    z-index: 10;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
    bottom: 0; }
    body .footer .home {
      height: 80px;
      width: auto;
      position: absolute;
      left: 0;
      margin-top: -20px; }
      body .footer .home img {
        float: left;
        height: 100%;
        width: auto; }
        @media (max-width: 800px) {
          body .footer .home img#text {
            display: none; } }
    body .footer .links {
      position: absolute;
      right: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      body .footer .links .link-item {
        font-size: 16px;
        font-weight: 800;
        color: #3B9BC2;
        line-height: 32px;
        padding: 0 4px;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: background 0.2s ease-in-out; }
        body .footer .links .link-item img {
          background: white;
          border-radius: 30px; }
        body .footer .links .link-item:hover {
          animation: spin 0.5s; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
        body .footer .links .link-item.apply {
          font-size: 16px;
          line-height: 36px;
          background: #3B9BC2;
          color: #A8D9F1;
          border-radius: 4px;
          padding: 0 30px;
          margin: 0 0 0 15px; }
          body .footer .links .link-item.apply:hover {
            background: #218BB6;
            color: #97D0ED; }
      body .footer .links .icon {
        font-size: 28px;
        display: none; }
        @media (max-width: 800px) {
          body .footer .links .icon {
            display: block; } }
      body .footer .links .stretch {
        height: 38px;
        line-height: 38px; }

/*# sourceMappingURL=style.css.map */
